/*Fonts start*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*Fonts end*/

/*Color theme start*/
:root {
  --color1: #555b6e;
  --color2: #89b0ae;
  --color3: #faf9f9;
  --color4: #fff;
  --color5: #4a4a4a;
}
/*Color theme end*/

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color4);
  color: var(--color5);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

/*Header start*/
.header {
  min-height: 60px;
  flex: 0 0 auto;
  background-color: var(--color1);
  color: var(--color4);
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
}

.header-logo-wrap {
  flex: 0 0 auto;
  min-width: calc(300px - 24px - 20px);
}

.header-logo,
.header-logo-img {
  display: inline-block;
  vertical-align: top;
}

.header-toggler {
  flex: 0 0 auto;
}
.header-toggler:hover {
  cursor: pointer;
}

.header-toggler-icon {
  display: block;
}

.header-toggler-icon path {
  fill: var(--color4);
}

.header-toggler-icon:last-child,
.header-toggler.open .header-toggler-icon:first-child {
  display: none;
}

.header-toggler.open .header-toggler-icon:last-child {
  display: block;
}

.header-user {
  flex: 0 0 auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.header-user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-user-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-left: 10px;
}

.header-user-dropdown {
  margin-left: 5px;
}

.header-user-dropdown path {
  fill: var(--color4);
}

.header-user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--color4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: absolute;
  top: 41px;
  right: 10px;
  min-width: 150px;
  overflow: hidden;
  display: none;
}

.header-user-menu-item {
  font-size: 12px;
  line-height: 14px;
  color: var(--color5);
  padding: 13px 20px;
  border-top: 1px solid var(--color3);
}

.header-user-menu-item:first-child {
  border: 0;
}

.header-user-menu-link {
  color: inherit;
  text-decoration: none;
}

.header-user-menu-item:hover {
  background-color: var(--color2);
  color: var(--color4);
}

.header-user:hover {
  cursor: pointer;
}

.header-user:hover .header-user-menu {
  display: block;
}

.header-user:hover .header-user-dropdown {
  transform: scaleY(-1);
}
/*Header end*/

.main-content-wrap {
  flex: 0 0 auto;
  display: flex;
  height: calc(100vh - 60px);
}

/*Sidebar start*/
.sidebar {
  flex: 0 0 auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 60px;
  display: flex;
}

.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar-nav-item {
  flex: 0 0 auto;
}

.sidebar-nav-item:last-child {
  margin-top: auto;
}

.sidebar-nav-link {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-nav-icon {
  display: block;
}

.sidebar-nav-icon path {
  fill: var(--color5);
}

.sidebar-nav-item.active .sidebar-nav-link,
.sidebar-nav-item:hover .sidebar-nav-link {
  background-color: var(--color2);
}

.sidebar-nav-item.active:hover .sidebar-nav-link {
  cursor: default;
}

.sidebar-nav-item.active .sidebar-nav-icon path,
.sidebar-nav-item:hover .sidebar-nav-icon path {
  fill: var(--color4);
}

/*Sidebar */

/*Content start*/
.content-wrap {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 20px;
}

.content-header {
  border-bottom: 1px solid var(--color3);
  min-height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.content-header-title {
  margin: 0;
  padding: 0 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.content-inner {
  font-size: 12px;
  line-height: 14px;
  padding: 20px;
}
/*Content end*/

/*Footer start*/
.footer {
  flex: 0 0 auto;
  min-height: 80px;
  background-color: var(--color1);
  color: var(--color4);
  padding: 10px;
  box-sizing: border-box;
}

.footer-nav {
  display: flex;
  list-style: none;
  margin: 0 0 2px 0;
  padding: 10px 0;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
}

.footer-nav-item {
  margin: 0 10px 10px 10px;
}

.footer-nav-link {
  text-decoration: none;
  color: inherit;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-copyrights {
  margin: 0 0 2px 0;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}
/*Footer end*/
